.pTop {
	padding-top: var(--status-bar-height);
}

.mTop {
	margin-top: var(--status-bar-height);
}

.page {
	background-color: #f8f8f8;
}

.content {
	padding: 30rpx;
}

.row {
	flex-direction: row;
}

.fx1 {
	flex: 1;
}

.ml {
	margin-left: auto;
}

.mt {
	margin-right: auto;
}

.p10 {
	padding: 10rpx;
}

.p15 {
	padding: 15rpx;
}